= simple_form_for(@job) do |f|
  = f.error_notification

  .form-inputs
    = f.input :user_id
    = f.input :position
    = f.input :rate
    = f.input :start_date
    = f.input :end_date
    = f.input :region
    = f.input :location
    = f.input :is_avaliable

  .form-actions
    = f.button :submit
